/* Supprime le text-shadow sur le texte Prism */
pre > code[class*="language-"] {
    text-shadow: none;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* Aspect ratio 16:9 */
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place la vidéo en arrière-plan */
}
